<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Method</title>
    <style>
      .container {
        display: flex;
      }
      .column {
        flex: 1;
      }
      .column1 {
        background-color: #ff6666;
      }
      .column2 {
        background-color: #0066ff;
      }
      .column3 {
        background-color: #00ff66;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="column column1">Column 1</div>
      <div class="column column2">Column 2<br />More content</div>
      <div class="column column3">Column 3</div>
    </div>
  </body>
</html>
