<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>内联元素的水平居中</title>
    <style>
        /**
         * 适用于内联元素（inline、inline-block、inline-table、inline-flex）。
         **/

        
        .center-text {
            border: 2px dashed #f69c55;
            text-align: center;
            line-height: 150px; /* 设置了行高会垂直居中 */
        }
    </style>
</head>
<body>

    <div class="center-text">
        内联元素的水平居中
    </div>

    
</body>
</html>