<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>块级元素水平居中</title>

    <style>
        /**
         * 适用于块级元素（block、table、flex、grid）。适用于固定宽度的块级元素。
         **/

         .container {
            height: 100px;
            border: 2px dashed #f69c55;
         }

         .center-block {
            margin: 0 auto;
            width: 8rem;
            padding: 1rem;
            color: #fff;
            background: #000;
         }
       
    </style>
</head>
<body>

    <div class="container">
        <p class="center-block">块级元素水平居中</p>
    </div>
    
</body>
</html>